.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 16px;
    margin-top: 16px;
}
.link {
    display: inline-block;
    
    
    
    margin: 0 5px;
    text-decoration: none;
    padding: 10px 15px;
    color: #000;

    
}
.link:global(.active) {
        font-weight: bold;
    }